.products {
    display: flex;
    flex-direction: row;
}

img {
    width: 100px;
    height: 100px;
    margin-right: 5px;
}

form {
    width: 50%;
    display: block;
    margin: 10px 0;
}

input {
    margin: 3px 0;
}

textarea {
    resize: none;
    width: 200px;
    padding-bottom: 15px;
}
